<div class="d-flex flex-row justify-content-between">
    <div class="d-flex">
        <h2>Mis tickets</h2>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Concierto</th>
            <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of ticketList">
            <td scope="col">{{ticket.ticketId}}</td>
            <td scope="col">{{ticket.concert.tourName}}</td>
            <td scope="col"><span class="badge"
                    [ngClass]="{'text-bg-primary':ticket.ticketStatus.status=='Comprado', 'text-bg-success':ticket.ticketStatus.status=='Utilizado'}">{{ticket.ticketStatus.status}}</span>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex flex-row justify-content-between">
    <div class="d-flex">
        <h2>Snacks agregados</h2>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">TicketId</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Costo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let snack of snackList">
            <td scope="col">{{snack.ticketId}}</td>
            <td scope="col">{{snack.name}}</td>
            <td scope="col">{{snack.quantity}}</td>
            <td scope="col">{{snack.amount}}</td>
        </tr>
    </tbody>
</table>